#container {
  /* max-width: 900px; */
  /* this is the width of your layout! */
  /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
  margin: 0 auto;
  width: 1200px;
  /* this centers the entire page */
}

#flex {
  display: flex;
}

.App {
  text-align: center;
  padding: 30px;

}

#area {
  width: 500px;
  height: 300px;
  border: 1px solid #555;
  margin: 0 auto;
  border-radius: .5em;
}

#topBar {
  text-align: center;
}

aside {
  /* background-color: #241445; */
  width: 200px;
  padding: 20px;
  font-size: smaller;
  /* this makes the sidebar text slightly smaller */
}

main {
  background-color: gray;
  flex: 1;
  padding: 20px;
  order: 2;
}

*/ #leftSidebar {
  order: 1;
}

#rightSidebar {
  order: 3;
}